{% extends 'base.html.twig' %}

{% block title %}Authors List{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Authors List</h1>
    <a href="{{ path('app_author_create') }}">Create New Author</a>
    <div>
    {% set totalBooks = 0 %}
    {% for author in authors %}
        <div>
        <img src="{{asset(author.picture)}}" alt="{{author.username}}" height="150px" width="150px" >
        <p><b>Username : </b> {{ author.username }} </p>
        <p><b>Email : </b> {{ author.email }} </p>
        <p><b>Number of Books : </b> {{ author.nbBooks }} </p>
        <a  href="{{ path('app_author_details', { id : author.id })}}">Details</a>
        <a  href="{{ path('app_author_update', { id : author.id })}}">Update</a>
        <a  href="{{ path('app_author_delete', { id : author.id })}}">Delete</a>

        </div><hr>
    {% set totalBooks = totalBooks + author.nbBooks %}
    {% endfor %}
    </div>
    <div>
    <p><b>Total Number of Authors : </b> {{ authors|length }} </p>
    <p><b>Total Number of Books : </b> {{ totalBooks }} </p>
    </div>
</div>
{% endblock %}
